<!DOCTYPE html>
<html>
	<head>
		<title>소개란</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Courgette|Playfair+Display&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	</head>

	<body>
		<div class="hand">
			<img src="/static/images/hand.png" alt="손">
		</div>
		<div class="leaflet">
			<div class="page" data-page="1">
				<div class="page-face cover-page">
					<h1 class="menu-header-title"><p>꼬깃꼬깃🔥</p></h1>
				</div>
				<div class="page-face">
					<ul class="menu-list">
						<li class="menu-item">
							<A href="https://github.com/magmom7"><img class="fit-picture" src="/static/images/lee1.jpg" style="width:100px; height:100px;"></A>
							<div class="menu-item-info">
								<p>이성규</p><br>
								<p class="member-info">프론트 및 큰그림 담당</p>
							<button class="back-btn">← Back</button>
						</li>
						<li class="menu-item">
							<A href="https://github.com/YJH-jm"><img class="fit-picture" src="/static/images/you.png" style="width:100px; height:100px;"></A>
							<div class="menu-item-info">
								<p>유지현</p><br>
								<p class="member-info">백엔드 및 데이터 담당</p>
							<button class="back-btn">← Back</button>
						</li>
						<li class="menu-item">
							<A href="https://github.com/GoodDonkey"><img class="fit-picture" src="/static/images/don.png" style="width:100px; height:100px;"></A>
							<div class="menu-item-info">
								<p>장동기</p><br>
								<p class="member-info">백엔드 및 데이터 담당</p>
							<button class="back-btn">← Back</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="page" data-page="2">
				<div class="page-face">
					<ul class="menu-list">
						<li class="menu-item">
							<A href="https://github.com/magmom95"><img class="fit-picture" src="/static/images/lee.jpg" style="width:100px; height:100px;"></A>
							<div class="menu-item-info">
								<p class="member-info">
									꼬깃꼬깃은 깃민이(git+잼민이 → gitmini) 들을 위한 사이트이며 누구나 편하게 코딩 교육 및 블로그를 운영하기 위해 만들었습니다. 
									서로의 지식을 같이 공유하면 나아가는 자리가 되었으면 좋겠습니다.
								</p>
							</div>
							<button class="back-btn">← Back</button>
						</li>
					</ul>
				</div>
				<div class="page-face">2B</div>
			</div>
			<div class="page" data-page="3">
				<div class="page-face cover-page">
					<p class="message">Welcome!</p>
				</div>
				<div class="page-face">
					<ul class="menu-list">
						<li class="menu-item">
							<div class="menu-item-info">
								<p>사용한 언어</p><br>
								<p class="member-info">
									<b>Flask</b>로 웹프레임워크를 구축하였으며 <b>Html,Css,Js</b>를 이용<b>Oracle DB</b>를 이용하여 사이트를 개발
								</p>
							</div>
							<button class="back-btn">← Back</button>
						</li>
					</ul>
					<button class="close-btn">✗ Close</button>
				</div>
			</div>
		</div>

		<script src="/static/js/main.js"></script>
	</body>
</html>