@keyframes starting {
			from {
				transform: rotateX(0deg) rotateZ(0deg);
			}
			to {
				transform: rotateX(60deg) rotateZ(240deg);
			}
		}
		@keyframes dongdong {
			from {
				transform: translateZ(30px) rotateX(-90deg) scaleY(0.7);
			}
			to {
				transform: translateZ(60px) rotateX(-90deg);
			}
		}
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			perspective: 1000px;
			color: black;
			background: #fff000;
		}
		.game {
			display: grid;
			grid-template-rows: repeat(6, 11vmin);
			grid-template-columns: repeat(6, 11vmin);
			gap: 1vw;
			transform: rotateX(0deg) rotateZ(0deg);
			transform-style: preserve-3d;
			animation: starting 2s 0.5s forwards;
		}
		.tile {
			/* overflow: hidden; */
			/* overflow: hidden이 되어있으면 3D 효과 안됨 */
			position: relative;
			border: 3px solid black;
			font-size: 2rem;
			transform-style: preserve-3d;
		}
		.tile label {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			background: #fff;
			transform-style: preserve-3d;
			cursor: pointer;
		}
		.tile label:hover {
			color: white;
			background: dodgerblue;
		}
		.tile input {
			position: absolute;
			opacity: 0;
		}
		.tile input:checked + label {
			color: white;
			background: crimson;
		}
		.tile input:checked + label:before {
			content: '';
			position: absolute;
			display: block;
			width: 100px;
			height: 100px;
			background: url(../images/lee.jpg) no-repeat center;
			background-size: contain;
			border-radius: 50%;
			animation: dongdong 0.22s infinite alternate;
		}
		.tile:nth-child(1) { grid-row: 1; grid-column: 1; transform: rotate(135deg); border-radius: 50%; }
		.tile:nth-child(2) { grid-row: 1; transform: rotate(180deg); }
		.tile:nth-child(3) { grid-row: 1; transform: rotate(180deg); }
		.tile:nth-child(4) { grid-row: 1; transform: rotate(180deg); }
		.tile:nth-child(5) { grid-row: 1; transform: rotate(180deg); }
		.tile:nth-child(6) { grid-row: 1; transform: rotate(225deg); border-radius: 50%; }
		.tile:nth-child(7) { grid-row: 2; grid-column: 6; transform: rotate(270deg); }
		.tile:nth-child(8) { grid-row: 3; grid-column: 6; transform: rotate(270deg); }
		.tile:nth-child(9) { grid-row: 4; grid-column: 6; transform: rotate(270deg); }
		.tile:nth-child(10) { grid-row: 5; grid-column: 6; transform: rotate(270deg); }
		.tile:nth-child(11) { grid-row: 6; grid-column: 6; transform: rotate(315deg); border-radius: 50%; }
		.tile:nth-child(12) { grid-row: 6; grid-column: 5; }
		.tile:nth-child(13) { grid-row: 6; grid-column: 4; }
		.tile:nth-child(14) { grid-row: 6; grid-column: 3; }
		.tile:nth-child(15) { grid-row: 6; grid-column: 2; }
		.tile:nth-child(16) { grid-row: 6; grid-column: 1; transform: rotate(45deg); border-radius: 50%; }
		.tile:nth-child(17) { grid-row: 5; transform: rotate(90deg); }
		.tile:nth-child(18) { grid-row: 4; transform: rotate(90deg); }
		.tile:nth-child(19) { grid-row: 3; transform: rotate(90deg); }
		.tile:nth-child(20) { grid-row: 2; transform: rotate(90deg); }

		.tile:nth-child(1) label,
		.tile:nth-child(6) label,
		.tile:nth-child(11) label,
		.tile:nth-child(16) label {
			border-radius: 50%;
		}