<!DOCTYPE html>
<html>

<head>
	<title>Interactive Dosirak #1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Courgette|Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>

	<div class="leaflet">
		<div class="page" data-page="1">
			<div class="page-face cover-page">
				<p>프로젝트</p>
				<h1 class="menu-header-title">로그인을 하십시오</h1>
				<div class="page" data-page="2">
					<div class="page-face">
						<ul class="menu-list">
							<li class="menu-item">
								<div class="menu-item-info">
									<form method="post">
										<input type="text" id="username" name="username" placeholder="이름"><br><br>
										<input type="text" id="userpw" name="userpw" placeholder="비밀번호"><br><br>
										{{ recaptcha }} <br>
										<p>{{ message }}</p> <br>
										<button onclick="checkLogin()">로그인</button><br><br>
									</form>
									
										<br><br>
									<form action='/membership' , method="get">
										<button>회원가입</button>
									</form>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script>
		function checkLogin(){
			const xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                // 전달신호 받기
                if (this.readyState == 4 && this.status == 200) {
                    appRes = JSON.parse(this.responseText);
                    // localStorage.setItem("jwt-auth-token", appRes.access_token); // 없으면 저장 안함
                    // alert("전달 성공")
                    // 로그인 성공시
                    if (appRes.result == 200){
						localStorage.setItem("jwt-auth-token", appRes.access_token);
						alert("로그인 성공")
						location.href = '/menu'
						console.log("로그인 성공")
						console.log(appRes.access_token);
                    }else{
						alert("아이디 또는 비밀번호를 다시 확인해 주세요")
						var link = '/';
                        location.href = link;
                        console.log("로그인 실패")
                    }
                }
            };

            xhttp.open("POST", "login");
            queryString ="username="+document.getElementById("username").value+"&userpw="+document.getElementById("userpw").value;
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(queryString);
        }

	</script>
</body>

</html>