.menu {
	display: flex;
}
.menu-item {
	width: 33%;
	background: rgb(255, 217, 2);
	transition: 0.5s;
}
.menu-item:hover {
	width: 35%;
	background: orangered;
}
.menu-link {
	display: block;
	padding: 1em;
	font-size: 1.2rem;
	font-weight: bold;
	color: #555;
	text-decoration: none;
	text-align: center;
}
.menu-link:hover {
	color: white;
}

.search-form {
	display: flex;
	height: 40px;
}
.search-form input[type="search"] {
	flex: 1;
	min-width: 0;
	margin-right: 10px;
	border: 0;
	border-radius: 0.3em;
	font-size: 1rem;
}
.search-form input[type="submit"] {
	width: 4em;
	border: 0;
	border-radius: 0.3em;
	font-size: 1rem;
	background: gold;
}

.user-list {
	margin-bottom: 2rem;
}
.user-item {
	display: flex;
	margin-bottom: 1.5em;
}
.user-photo {
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	margin-right: 0.5em;
	border: 2px solid crimson;
	border-radius: 50%;
	background-position: center;
	background-size: 120%;
}

.friend-item {
	align-items: center;
}
.user-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.card-image {
	height: 0;
	padding-bottom: 60%;
	background-color: lightgray;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.card-image img {
	display: none;
}
.card-desc {
	flex: 1 1 auto;
	padding: 1em;
	background: white;
}
.container{
    display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 600px) {
	.card-list-con {
		overflow-x: hidden;
	}
	.card-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1rem;
	}
	.card-item {
		width: 50%;
		padding: 0 1rem;
	}
}

@media (min-width: 1200px) {
	.card-item {
		width: 33.33333%;
	}
}