<!DOCTYPE html>
<html>

<head>
	<title>Interactive Dosirak #1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Courgette|Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>

	<div class="leaflet">
		<div class="page" data-page="1">
			<div class="page-face cover-page">
				<p>프로젝트</p>
				<h1 class="menu-header-title">로그인을 하십시오</h1>
				<div class="page" data-page="2">
					<div class="page-face">
						<ul class="menu-list">
							<li class="menu-item">
								<!-- <img class="fit-picture" src="images/lee.jpg" style="width:100px; height:100px;"> -->
								<div class="menu-item-info">
									<!-- <form action="/login" method="post"> // 이 주석 지워도 될듯?
										<input type="text" id="username" name="username" placeholder="이름"><br><br>
										<button onclick="checkLogin()">로그인</button><br><br>
									</form> -->
									<form method="POST"> 
										<input type="text" id="username" name="username" placeholder="이름"><br><br>
										<!-- Sends POST request to flask server -->
										 {{ recaptcha }} 
										 <!--Refer to 'recaptcha' variable in main.py -->
										 <p>{{ message }}</p>
										</form>
										<button onclick="checkLogin()">로그인</button><br><br>
										<br><br>
									<form action='/membership' , method="get">
										<button>회원가입</button>
									</form>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function checkLogin() {
			const xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					let user_all = JSON.parse(this.responseText); // DB에서 모든 유저의 데이터를 가져온다.
					console.log(user_all)
					console.log(typeof (user_all))

					for (i in user_all) { 							//모든유저의 데이터를 -> 웹페이지에서의 id와 비교한다.
						console.log(i);
						if (user_all[i]['user_name'] == document.getElementById("username").value) { // 하나라도 일치하는 것이 있으면,
							var link = '/menu';
							// location.href=link;  replace하나만 있어도 되지 않을까요? 링크 바뀐뒤에 아래에 open으로 창을 하나 더 열어서 두개가 나옵니다.
							location.replace(link);
							// window.open(link);
						}
					}
				}
			};

			xhttp.open("POST", "login");
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			// let person_all1 = JSON.parse(person_all);
			console.log(document.getElementById("username").value);

			queryString = "user_name=" + document.getElementById("username").value;
			xhttp.send(queryString);
		}
	</script>
</body>

</html>