<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>To</title>

	<link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}"></link>
	<link rel="stylesheet" href="{{url_for('static', filename='css/ui.css')}}"></link>

</head>
<body>
	<ul class="menu">
		<li class="menu-item">
			<a href="/menu" class="menu-link">Home</a>
		</li>
		<li class="menu-item">
			<a href="/todolist" class="menu-link">To Do List</a>
		</li>
		<li class="menu-item">
			<a href="/list" class="menu-link">list</a>
		</li>
		<li class="menu-item">
			<a href="/char2" class="menu-link">Chart</a>
		</li>
		<li class="menu-item">
			<a href="/upload" class="menu-link">upload</a>
		</li>
	</ul>

</body>
</html>