<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Game</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/board.css')}}">
</head>
<body>
	<div class="game">
		<div class="tile">
			<input type="radio" name="tile" id="tile1">
			<label for="tile1">1</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile2">
			<label for="tile2">2</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile3">
			<label for="tile3">3</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile4">
			<label for="tile4">4</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile5">
			<label for="tile5">5</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile6">
			<label for="tile6">6</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile7">
			<label for="tile7">7</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile8">
			<label for="tile8">8</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile9">
			<label for="tile9">9</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile10">
			<label for="tile10">10</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile11">
			<label for="tile11">11</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile12">
			<label for="tile12">12</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile13">
			<label for="tile13">13</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile14">
			<label for="tile14">14</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile15">
			<label for="tile15">15</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile16">
			<label for="tile16">16</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile17">
			<label for="tile17">17</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile18">
			<label for="tile18">18</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile19">
			<label for="tile19">19</label>
		</div>
		<div class="tile">
			<input type="radio" name="tile" id="tile20">
			<label for="tile20">20</label>
		</div>
	</div>
</body>
</html>